.App {
}
#icon{ 
  color: aliceblue;
  size: 2px;
  float: right;
}

.App-header {
  background-color: rgb(7, 4, 10); 
  color: rgb(255, 255, 255);
}
h1{
  padding-top: 0px;
}

.App-intro {
  font-size: small;
  margin: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
