.App {
}
#icon{ 
  color: aliceblue;
  size: 2px;
  float: right;
}

.App-header {
  background-color: blueviolet;
  height: 50px;
  color: black;
}
h1{
  padding-top: 10px;
}

.App-intro {
  font-size: small;
  margin: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
