.App {
  margin:0;
}
#icon{ 
  color: aliceblue;
  size: 2px;
  float: right;
}

.App-header {
  background-color: rgb(7, 4, 10); 
  color: rgb(255, 255, 255);
}
h1{
  padding-top: 0px;
}

.App-intro {
  font-size: small;
  margin: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.close-modal{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;;
}